.btn-ver {
    border: 1px solid rgb(3, 151, 3);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: green;
}

.btn-editar {
    border: 1px solid rgb(242, 166, 27);
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: orange;
}

.btn-borrar {
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: red;
}