/*-----------------------------------------*/
/*HEADER*/
/*-----------------------------------------*/

:root {
  --firstColor: rgb(203, 193, 249);
  --secondColor: rgb(137, 109, 200);
  --thirdColor: rgb(68, 28, 146);
  --fourthColor: rgb(244, 242, 254);
  --fifthColor: rgb(36, 12, 83);
}
  
  .main-header {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--firstColor);
    box-shadow: 0px 8px 20px var(--firstColor);
    position: relative;
    z-index: 10;
  
    @media screen and (min-width: 992px) {
      & {
        flex-direction: column;
      }
    }
  }
  
  #menu {
    display: none;
  
    &:checked + .nav-bar {
      display: block;
    }
  
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
      background-color: var(--secondColor);
    }
  }
  
  
 
  /*-----------------------------------------*/
  /* MENU TOOGLE*/
  /*-----------------------------------------*/
  
  .menu-toogle {
    display: block;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;
  
    &__label {
      display: block;
      background-color: var(--firstColor);
      height: 100%;
    }
  
    &__top-bread,
    &__meat,
    &__bottom-bread {
      display: block;
      background-color: #f8f4f4;
      height: 0.2rem;
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
    }
  
    &__top-bread {
      top: 0.8rem;
    }
  
    &__meat {
      top: 50%;
      margin-top: -0.1rem;
    }
  
    &__bottom-bread {
      bottom: 0.8rem;
    }
  
    @media screen and (min-width: 992px) {
      & {
        display: none;
      }
    }
  }
  