 /*-----------------------------------------*/
  /* SEARCH BAR*/
  /*-----------------------------------------*/
  
  .search-bar {
    display: flex;
    background-color: var(--firstColor);
    justify-content: space-around;
  
    &__logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--thirdColor);
      margin-left: 10px;
    }
  
    &__mode {
      background-color: var(--firstColor);
      border: none;
    }
  
    &__form-container {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
      gap: 1em;
      flex-direction: column;
      text-align: center;
      margin-top: 5px;
    }
  
    &__form-label {
      background-color: var(--firstColor);
      color: var(--fifthColor);
    }
  
    &__form-search {
      background-color: var(--firstColor);
      border-radius: 5px;
      border-color: var(--secondColor);
      color: var(--fifthColor);
      width: 200px;
      margin: auto;
    }
  
    &__form-submit {
      background-color: var(--secondColor);
      padding: 5px;
      border-radius: 5px;
      border-color: var(--secondColor);
      margin: auto;
      margin-bottom: 5px;
      color: var(--fourthColor);
      &:hover {
        cursor: pointer;
        background-color: var(--firstColor);
        color: var(--fifthColor);
      }
    }
  
    &__carrito-container {
      flex: 0 0 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    display: inline-block;
      &__link {
        color: var(--fifthColor);
        position: relative;
    display: inline-block;
}}

.fa-solid.fa-cart-shopping {
  font-size: 1.5rem; 
  margin-top: 20px;

}
.search-bar__carrito-badge {
  position: absolute;
  top: 5px;
  right: -5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

      }
    
    
  
  