@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fourthColor: rgb(248, 241, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-size: 100%;
     background-color: var(--fourthColor);
     min-height: 100%;
     display: flex;
     flex-direction: column;
}

